header{
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 2rem;
  }

body {
    align-items: center;
    background: linear-gradient(45deg, #8f0000 0%,#460000 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
  }

main{
    display: flex;
    width: 400px;
    height: 400px;
}

button{
    background-color: rgb(31, 0, 0);
    border-radius: 100%;
    box-shadow: 3px 3px 0 var(--cinza);
    height: 120px;
    font-size: 20px;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    width: 120px;
    color: white;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.897);
}

ul{
    background: linear-gradient(to bottom, #aa1313 0%,#700d0d 100%);
    box-shadow: 2px 2px 0 2px #690000, 10px 10px 10px #2e0000;
    border-radius: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;    
    width: 400px;
    height: 400px;
}